.done{
    text-decoration: line-through;
}

.list-item{
    padding-top:10px;
    padding-bottom:10px
}

input{
    border: none;
    outline:none;
    line-height: 18px;
}
.mat-checkbox-layout {
    margin-bottom: 0.1rem;
}