
<div class="info-card">
  <div class="row no-gutters">
    <div class="col-2">
      <div class="control-group vertical">
        <span [ngClass]="{'disabled': index===0}" (click)="moveUp()" class="control up"></span>
        <span [ngClass]="{'disabled': isLast}"(click)="moveDown()" class="control down"></span>
      </div>
    </div>
    <div class="col">
      <div class="info">{{info}}</div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-2">
      <div class="control-group delete">
        <span (click) = "deleteCard()" class="control"></span>
      </div>
    </div>
    <div class="col">
      <div class="control-group">
        <span [ngClass]="{'disabled': listIndex===0}" (click)="moveToPrev()" class="control left"></span>
        <span [ngClass]="{'disabled': listIndex===3}"(click)="moveToNext()" class="control right"></span>
      </div>
    </div>
  </div>
</div>

