.info-card{
    background-color:white;
    margin: 5px 0;

    .info{
        padding: 14px 12px;
    }

    .control-group{
        display: flex;
        border-top: 1px solid aquamarine; 
        .control{
            display: inline-block;
            width: 50%;
            text-align: center;
            &:not(.disabled):hover{
                background-color: aquamarine;
            }

            &.disabled{
                opacity: 0.5;

            }

            &.up{
                transform: rotate(180deg);
                &:after{
                    content:"v";
                }
            }
            &.down{
                &:after{
                    content:"v";
                }
            }
            &.left{
                &:after{
                    content:"<";
                }
            }
            &.right{
                &:after{
                    content:">";
                }
            }
        }

        &.vertical{
            border-top: 0;
            border-right:1px solid aquamarine; 
            flex-flow: column;
            height: 100%;
            .control{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
            }
        }

        &.delete{
            border-top: 0;
            height:100%;
            .control{
                width:100%;
                &:hover{
                    background: darkorange;
                    color: white;
                }

                &:after{
                    content: "x";
                }
            }

        }
    }
}
