.info-card{
    background-color:white;
    margin: 5px 0;

    .info{
        padding: 14px 12px;
    }

    .control-group{
        display: flex;
        .control{
            display: inline-block;
            width: 33%;
            text-align: center;
            border-top: 1px solid aquamarine; 
            &:hover{
                background-color: aquamarine;
            }
        }
    }
}
