/* You can add global styles to this file, and also import other style files */
.mat-checkbox-layout {
    margin-bottom: 0.1rem;
}

div.col{
    padding-left:25px !important;
    padding-right:0 !important;

    &:last-child{
        padding-right:25px;
    }
}

body{
    background-color: #ECEEEE;
}